$primary-color: #000000;
$secondary-color: #FFFFFF;

$input-bg-color: #F6F6F6;

$primary-btn-color: #000000;
$primary-btn-color--hover: #333333;

$secondary-btn-color: #EEEEEE;
$secondary-btn-color--hover: #E2E2E2;

$default-btn-color: #FFFFFF;
$default-btn-color--hover: #E2E2E2;

$paragraph-color: #333333;
