.login-modal {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $secondary-color;

    & > .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    &_links {
        display: flex;
        justify-content: space-between;
        max-width: 60%;
        padding: 200px 50px;
        margin: auto;
    }

    &_link {
        font-size: 36px;
        align-self: center;

        &:hover {
            color: $primary-btn-color--hover;
        }
    }
}
