.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 14px 52px;
    font-size: 14px;
    background-color: $primary-color;
    color: $secondary-color;
}

.navbar_links {
    display: flex;
    align-items: center;
    & > li:not(:last-child) {
        margin-right: 5px;
    }
}
