.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 14px 52px;
    font-size: 14px;
    background-color: $primary-color;
    color: $secondary-color;
}

.navbar_links {
    display: flex;
    align-items: center;
    & > li:not(:last-child) {
        margin-right: 5px;
    }
}

.navbar_link-dropdown-container{
    position: relative;
}

.navbar_link-dropdown {
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    color: $primary-color;
    border: 1px solid black;

    &-link {
        display: block;
        padding: 16px 32px;
    }
}
