.toast-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 32px;
}

.toast {
    max-width: 220px;
    padding: 16px 18px;
    font-size: 14px;
    line-height: 1.6;

    &:not(:last-child) {
        margin-bottom: 22px;
    }
}