.heading-1 {
    font-size: 52px;
    margin-bottom: 32px;
}

.heading-2 {
    font-size: 18px;
    margin-bottom: 18px;
}

.heading-2--mr-1 {
    margin-top: 42px;
}

.paragraph {
    font-size: 16px;
    line-height: 24px;
    color: $paragraph-color;
}

.paragraph--mr-b {
    margin-bottom: 20px;
}